h1 {
    color:rgb(54, 113, 123);
}
.navigation {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    width: 40%;
}

.navigation button {
    padding: 10px 20px;
    border: none;
    background-color: #96c0f4;
    cursor: pointer;
}

.navigation button.active {
    background-color: #007bff;;
}
.content {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
}